<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="GreenpayGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\GreenPaymentProcessing\GreenpayGateway\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">GreenPaymentProcessing\GreenpayGateway\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">GreenpayGatewayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">GreenpayGatewayCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="GreenpayGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\GreenPaymentProcessing\GreenpayGateway\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with SamplePaymentGatewayConfig -->
    <virtualType name="GreenpayGatewayLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">GreenpayGatewayConfig</argument>
        </arguments>
    </virtualType>

    <type name="GreenPaymentProcessing\GreenpayGateway\Gateway\Http\Client\ClientMock">
        <arguments>
            <argument name="logger" xsi:type="object">GreenpayGatewayLogger</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="GreenpayGatewayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">GreenpayGatewayAuthorizeCommand</item>
                <item name="capture" xsi:type="string">GreenpayGatewayCaptureCommand</item>
                <item name="void" xsi:type="string">GreenpayGatewayVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="GreenpayGatewayAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">GreenpayGatewayAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">GreenpayGatewayResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">GreenPaymentProcessing\GreenpayGateway\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">GreenPaymentProcessing\GreenpayGateway\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="GreenpayGatewayAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">GreenPaymentProcessing\GreenpayGateway\Gateway\Request\AuthorizationRequest</item>
                <item name="mockData" xsi:type="string">GreenPaymentProcessing\GreenpayGateway\Gateway\Request\MockDataRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="GreenPaymentProcessing\GreenpayGateway\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">GreenpayGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Capture command -->
    <virtualType name="GreenpayGatewayCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">GreenPaymentProcessing\GreenpayGateway\Gateway\Request\CaptureRequest</argument>
            <argument name="handler" xsi:type="object">GreenPaymentProcessing\GreenpayGateway\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">GreenPaymentProcessing\GreenpayGateway\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">GreenPaymentProcessing\GreenpayGateway\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">GreenPaymentProcessing\GreenpayGateway\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Capture Request -->
    <type name="GreenPaymentProcessing\GreenpayGateway\Gateway\Request\CaptureRequest">
        <arguments>
            <argument name="config" xsi:type="object">GreenpayGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Void command -->
    <virtualType name="GreenpayGatewayVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">GreenPaymentProcessing\GreenpayGateway\Gateway\Request\VoidRequest</argument>
            <argument name="handler" xsi:type="object">GreenPaymentProcessing\GreenpayGateway\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">GreenPaymentProcessing\GreenpayGateway\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">GreenPaymentProcessing\GreenpayGateway\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">GreenPaymentProcessing\GreenpayGateway\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Void Request -->
    <type name="GreenPaymentProcessing\GreenpayGateway\Gateway\Request\VoidRequest">
        <arguments>
            <argument name="config" xsi:type="object">GreenpayGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Response handlers -->
    <virtualType name="GreenpayGatewayResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">GreenPaymentProcessing\GreenpayGateway\Gateway\Response\TxnIdHandler</item>
                <item name="fraud" xsi:type="string">GreenPaymentProcessing\GreenpayGateway\Gateway\Response\FraudHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="GreenpayGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">GreenpayGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="GreenpayGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">GreenPaymentProcessing\GreenpayGateway\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <type name="GreenPaymentProcessing\GreenpayGateway\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">GreenpayGatewayConfig</argument>
        </arguments>
    </type>

    <virtualType name="GreenpayValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">GreenPaymentProcessing\GreenpayGateway\Gateway\Validator\CountryValidator</item>
                <item name="global" xsi:type="string">GreenPaymentProcessing\GreenpayGateway\Gateway\Validator\GlobalValidator</item>
            </argument>
        </arguments>
    </virtualType>

</config>
